@model IEnumerable<ColmanGym.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h1>Meetings</h1>

<p>
    <a class="button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Training.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainer.Id)
                </td>
                <td>
                    @if (this.User.IsInRole("Admin"))
                    {

                        @Html.ActionLink("Edit", "Edit", new { id = item.MeetID }, new { @class = "button" })

                    }
                    <a asp-action="Details" class="button" asp-route-id="@item.MeetID">Details</a>
                    @if (this.User.IsInRole("Admin"))
                    {

                        @Html.ActionLink("Delete", "Delete", new { id = item.MeetID }, new { @class = "button" })

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
