@model IEnumerable<ColmanGym.Models.Training>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Target)
            </td>
            <td>
                @if (this.User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Edit", "Edit", new { id = item.TrainingId }, new { @class = "button" })

                }
                <a class="button" asp-action="Details" asp-route-id="@item.TrainingId">Details</a>
                @if (this.User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Delete", "Delete", new { id = item.TrainingId }, new { @class = "warning-button" })

                }
            </td>
        </tr>
}
    </tbody>
</table>
